    <html>
        <head>
            <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
            <link  href="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/2.4.2/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
            <script  type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/2.4.2/jquery.nanogallery2.min.js"></script>
        </head>
        <body>

              <h1>word.</h1>

              <!-- ### start of the gallery definition ### -->
              <div id="nanogallery2"
                  data-nanogallery2 = '{
                        "thumbnailWidth": "auto",
                        "thumbnailHeight":  384,
                        "itemsBaseURL":     "",
                        "thumbnailLabel":     { "disable": true },
                        "thumbnailHoverEffect2": "borderDarker|labelAppear75"
                      }' >
                {{ range $i, $p := .Album.Images }}
                   <a href="_/{{ $p.Resize.LargeX.RelPath | BasePath }}" data-ngThumb="_/{{ $p.Resize.SmallY.RelPath | BasePath }}" data-ngdownloadurl="{{ RelPath $.Album.OutPath $p.OutPath }}">
                       {{ if $p.Description }}{{ $p.Description }}{{ else }}Untitled{{ end }}
                   </a>
                {{ end }}
               </div>
              <!-- ### end of the gallery definition ### -->

          </body>
      </html>
