<!DOCTYPE html>
<!-- index.tmpl -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Collection }} &mdash; Index</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="_/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@600;700&display=swap" rel="stylesheet">
</head>

<body>

<h1>{{.Collection}}</h1>

<p class="description">{{.Description}}</p>


<section>
<h2>latest</h2>

<div class="flex">
<div class="attractor">
{{ $p := .Recent | First }}
<a href="{{ ImageURL .OutDir $p.OutPath }}"><img src="{{ $p.Resize.Tiny.RelPath }}"></a>
</div>

<div class="items">
<ul>
<li><a href="recent.html">recent photo stream</a></li>
</ul>
</div>
</div>

</section>

<h2>favorites</h2>

<section>
<div class="flex">
<div class="attractor">
{{ $p := .Favorites | Random }}
<a href="{{ ImageURL .OutDir $p.OutPath }}"><img src="{{ $p.Resize.Tiny.RelPath }}"></a>
</div>

<div class="items">
<ul>
    {{ range $i, $a := .Favorites }}
    <li><a href="{{ RelPath $.OutDir $a.OutPath }}">{{ $a.OutPath | BasePath }}</a></li>
    {{ end }}
</ul>
</div>
</div>
</section>

<h2>albums</h2>
    {{ $last := "" }}
    {{ range $i, $a := .Albums }}
        {{ $top := (index $a.Hier 0) }}
        {{ if ne $top $last }}
            {{ if ne $last "" }}
                </ul>
                </div>
                </div>
                </section>
            {{ end }}
            <section>
            <h3 class="hier">
                {{ $top }}
            </h3>

            <div class="flex">
            <div class="attractor">
            {{ $p := (RandInHier $.Albums $top) }}
            <a href="{{ ImageURL $.OutDir $p.OutPath }}"><img src="{{ $p.Resize.Tiny.RelPath }}"></a>
            </div>

            <div class="items">
            <ul>
        {{ end }}
        <li><a href="{{ RelPath $.OutDir $a.OutPath }}">{{ $a.Title }}</a></li>
        {{ $last = $top }}
    {{ end }}
</ul>
</div>
</div>
</section>
</body>

<script>
    function addTrailingSlash() {
        if (window.location.pathname.endsWith('/') === false && window.location.protocol !== "file:") {
            var url = window.location.protocol + '//' +
                window.location.host +
                window.location.pathname + '/' +
                window.location.search;


            window.location.replace(url);
        }
    }
    addTrailingSlash();
</script>

</html>
