<!DOCTYPE html>
<!-- index.tmpl -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Collection }} &mdash; Index</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/_/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@600;700&display=swap" rel="stylesheet">
</head>

<body>

<h1>{{.Collection}}</h1>

<p>{{.Description}}</p>

<h2>latest photos</h2>

<ul>
<li><a href="recent.html">recent</a> [rss]</li>
</ul>

<h2>favorite photos</h2>

<ul>
    {{ range $i, $a := .Favorites }}
    <li><a href="{{ RelPath $.OutDir $a.OutPath }}">{{ $a.OutPath | BasePath }}</a></li>
    {{ end }}
</ul>

<h2>albums</h2>
<ul>
    {{ range $i, $a := .Albums }}
    <li><a href="{{ RelPath $.OutDir $a.OutPath }}">{{ $a.OutPath | BasePath }}</a></li>
    {{ end }}
</ul>
</body>

</html>
