<!DOCTYPE html>
<!-- index.tmpl -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="powered-by" content="https://github.com/tstromberg/livstid">
    <title>{{ .Collection }} &mdash; Index</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <style>
        {{.Style}}
    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@600;700&display=swap" rel="stylesheet">
</head>

<body>

<h1>{{.Collection}}</h1>

<p class="description">{{.Description}}</p>

<section class="index recent">
    <div class="attractor">
        {{ $p := .Recent | First }}
        <a href="recent/"><img src="{{ $p.Resize.Tiny.RelPath }}" srcset="{{ $p.Resize.Album.RelPath }} 2x"></a>
    </div>

    <div class="index_albums">
        <h2><a href="recent/">latest additions</a></h2>
        {{ $updated := .Recent | MostRecentTime }}
        <div class="updated">last updated {{ $updated.Format "2006-01-02" }}</div>
    </div>

</section>


<section class="index favorites">
    <div class="attractor">
        {{ $p := .Favorites | Random }}
        <a href="{{ ImageURL .OutDir $p.OutPath }}"><img src="{{ $p.Resize.Tiny.RelPath }}" srcset="{{ $p.Resize.Album.RelPath }} 2x"></a>
    </div>

    <div class="index_albums">
        <h2><a href="favorites/all">favorites</a></h2>
        <ul>
            {{ range $i, $a := .Favorites }}
                {{ $name := $a.OutPath | BasePath }}
                {{ if ne $name "all" }}
                    <li><a href="{{ RelPath $.OutDir $a.OutPath }}">{{ $name }}</a></li>
                {{ end }}
            {{ end }}
        </ul>
        </div>
    </div>
</section>

    {{ $lastTop := "" }}
    {{ $lastNext := "" }}
    {{ range $i, $a := .Albums }}
        {{ $top := (index $a.Hier 0) }}
        {{ $next := (index $a.Hier 1) }}

        {{ if ne $top $lastTop }}
            {{ if ne $lastTop "" }}
                </ul>
                </div>
                </div>
                </section>
                {{ $lastNext = "" }}
            {{ end }}
            <section class="index album">
                <div class="attractor">
                    {{ $p := (RandInHier $.Albums $top) }}
                    <a href="{{ ImageURL $.OutDir $p.OutPath }}"><img src="{{ $p.Resize.Tiny.RelPath }}" srcset="{{ $p.Resize.Album.RelPath }} 2x"></a>
                </div>

                <div class="index_albums">
                    <h2><a href="{{ $top }}/">{{ $top }}</a></h2>
        {{ else }}
        {{ end }}
        {{ if ne $next $lastNext }}
            {{ if ne $lastNext "" }}</ul>{{ end }}
            <h3><a href="{{ $top }}/{{ $next }}/">{{ $next }}</a></h3>
            <ul class="next">
        {{ end }}

                        <!-- for each album -->
                        <li><a href="{{ RelPath $.OutDir $a.OutPath }}">
                            {{ if eq $top $a.Title }}
                                No album
                            {{ else }}
                                {{ $a.Title }}
                           {{ end }}
                        </a></li>
                        {{ $lastTop = $top }}
                        {{ $lastNext = $next }}
    {{ end }}
    </li>
    </ul>
    </div>
</section>
</body>

<script>
    function addTrailingSlash() {
        if (window.location.pathname.endsWith('/') === false && window.location.protocol !== "file:") {
            var url = window.location.protocol + '//' +
                window.location.host +
                window.location.pathname + '/' +
                window.location.search;


            window.location.replace(url);
        }
    }
    addTrailingSlash();
</script>

</html>
