<!DOCTYPE html>
<!-- stream.tmpl -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="powered-by" content="https://github.com/tstromberg/livstid">

    <title>{{.Collection}} &mdash; {{ .Title }}</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <style>
        {{.Style}}
    </style>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@600;700&display=swap" rel="stylesheet">
  </head>
<body>
    <h1><a href="index.html">{{.Collection}}</a> &gt; recent</h1>
    {{ range $i, $p := .Album.Images }}
    <div class="entry">
        <div class="spacer-col"></div>
        <div class="date-col">&#9036;&nbsp;&nbsp;{{ $p.Taken.Format "2006-01-02" }}</div>
        <div class="hole-left-col"></div>
        <div class="neg-col"><a href="../../{{ ImageURL $.Album.OutPath $p.OutPath }}"><img src="../../{{ $p.Resize.Recent.RelPath }}" srcset="../../{{ $p.Resize.Recent2X.RelPath }} 2x"></a></div>
        <div class="hole-right-col"></div>
        <div class="unused-col"></div>

        <div class="meta-col {{ if Odd $i }}odd{{ end }}">
            <h3 class="title"><a href="{{ $p.RelPath }}">{{ $p.Title }}</a></h3>
            <p class="desc">{{ $p.Description }}</p>

            <p class="exif">{{ $p.Make }} {{ $p.Model }} &mdash; ƒ/{{ $p.Aperture }} @ {{ $p.FocalLength }}, {{ $p.Speed}}s, ISO {{ $p.ISO }}</p>
        </div>
    </div>
    {{ end }}
</body>


<script>
    function addTrailingSlash() {
        if (window.location.pathname.endsWith('/') === false && window.location.protocol !== "file:") {
            var url = window.location.protocol + '//' +
                window.location.host +
                window.location.pathname + '/' +
                window.location.search;


            window.location.replace(url);
        }
    }
    addTrailingSlash();
</script>

</html>
