body {
    background-color: #212121;
    color: #fff;
    margin: 1em;
    font-size: 110%;
    font-family: Lora, serif;
}

section.index {
    border-top: 1px solid #000;
    max-width: 35em;
    padding: 1.5em;
    display: flex;
    flex-wrap: nowrap;
}

div.index_albums {
    margin-left: 2.5em;
}

div.index_albums ul {
    list-style-type: "· ";
    margin: 0;
    padding-left: 1em;
}

div.index_albums ul.next {
    padding-left: 2.5em;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

div.index_albums h2 {
    margin: 0;
    font-size: 125%;
    padding: 0;
    padding-bottom: 0.25em;
}

div.index_albums h3 {
    margin: 0;
    padding: 0;
    padding-left: 0.4em;
    margin-left: 0.4em;
    border-left: 4px dotted #353535;
}

section img {
    width: 140px;
    border: 2px solid #000;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.3));
}

div.updated {
    font-style: italic;
    color: #999;
}

div.items ul {
    margin: 0;
}

p {
    color: #999;
    font-style: italic;
}

.entry {
    display: flex;
}

.neg-col {
    min-width: 50%;
    max-width: 50%;
    background: #131313;
    padding: 4px 8px;
}

.neg-col img {
    width: 100%;
}

.spacer-col {
    min-width: 5%;
    max-width: 10%;
}

.date-col {
    min-width: 1em;
    max-width: 1em;
    padding-top: 1em;
    padding-left: 0.3em;
    background-color: #131313;
    color: #f0bd0a;
    writing-mode: vertical-rl;
    font-family: "Helvetica";
    font-size: medium;
}

.unused-col {
    min-width: 1em;
    max-width: 1em;
    padding-top: 1em;
    padding-left: 0.3em;
    background-color: #131313;
    color: #f0bd0a;
    writing-mode: vertical-rl;
    font-family: "Helvetica";
    font-size: small;
    filter: drop-shadow(8px 8px 8px rgba(0, 0, 0, 0.3));
}

.meta-col {
    padding-top: 1em;
    padding-left: 2em;
}

.neg img {
    height: auto;
}

.title a {
    font-size: 120%;
    color: #fff;
    font-weight: 700;
}

a:link {
    color: #fff;
}

h2 a:visited {
    color: #fff;
    text-decoration-color: #d0bd0a;
}

a:visited {
    color: #aaa;
    text-decoration-color: #d0bd0a;
}

a {
    text-decoration-color: #f0bd0a;
}

.desc {
    color: #eee;
}

.exif {
    font-style: italic;
    color: #68533c;
}

/* Nanogallery2 overrides */
.nGY2GThumbnail {
    filter: drop-shadow(4px 4px 4px #111);
}

@media (max-width: 1024px) {
    body {
        font-size: 85%;
    }
    div.index_albums {
        margin-left: 1em;
        width: 100%;
        display: block;
    }
    section.index {
        padding: 0.5em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    div.attractor {
        display: block;
        width: 100%;
        display: none;
    }
    div.index_albums ul.next {
        padding-left: 2em;
        padding-bottom: 1em;
    }
    div.index_albums h3 {
        padding-left: 0.4em;
        margin-left: 0.4em;
    }
    div.index_albums h2 {
        margin: 0;
        padding: 0;
        padding-bottom: 0.1em;
    }
    .neg-col {
        min-width: 60%;
        max-width: 60%;
        background: #131313;
        margin: 0;
        padding: 0;
    }
    .neg-col {
        margin: 0;
        padding: 0;
    }
    .neg-col img {
        border: 2px solid #000;
    }

    .spacer-col {
        display: none;
    }
    .unused-col {
        display: none;
    }
    .date-col {
        display: none;
    }
    .exif {
        display: none;
    }
    h3.title {
        margin: 0;
        padding: 0;
    }
    .meta-col {
        padding: 0;
        padding-left: 1.5em;
    }
    .entry {
        padding-bottom: 1em;
    }
}
