<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  </head>

<style>
{{ .Stylesheet }}
</style>

<body>
    <ul>
    {{ range $i, $a := .Albums }}
    <li>{{ $a.StartTime.Format "2006-01-02" }}<a href="{{ $a.RelPath }}">{{ $a.RelPath }}</a></li>
    {{ end }}
    </ul>
</body>

</html>