body {
    background-color: #D4D4D4;
    color: #562B1F;
    margin-top: 0;
    font-family: 'Alegreya', serif;
}

.entry {
    display: flex;
}

.neg-col {
    min-width: 30%;
    max-width: 30%;
    background: #362B1F;
    padding: 0px 5px;
}

.neg-col img {
    width: 100%;
}

.spacer-col {
    min-width: 10%;
    max-width: 10%;
}

.date-col {
    min-width: 1em;
    max-width: 1em;
    padding-top: 1em;
    padding-left: 0.3em;
    background-color: #362B1F;
    color: #F0BD0A;
    writing-mode: vertical-rl;
    font-family: 'Helvetica';
    font-size: small;
}

.unused-col {
    min-width: 1em;
    max-width: 1em;
    padding-top: 1em;
    padding-left: 0.3em;
    background-color: #362B1F;
    color: #F0BD0A;
    writing-mode: vertical-rl;
    font-family: 'Helvetica';
    font-size: small;
}

.meta-col {
    padding-top: 1em;
    padding-left: 2em;
    width: 60%;
    border-bottom: 1px dotted #786F67;
}

.hole-left-col {
    width: 40px;
    min-width: 40px;
    background-image: url("film.png");
    background-repeat: repeat-y;
    background-size: 100%;
}

.hole-right-col {
    width: 40px;
    min-width: 40px;
    background-image: url("film.png");
    background-repeat: repeat-y;
    background-size: 100%;
}

.neg img {
    max-width: 100%;
    height: auto;
}

.title {
    font-size: 140%;
    color: #634363;
    font-weight: 700;
}

.desc {
    font-size: 120%;
    color: #2E2C2C;
}

.exif {
    font-style: italic;
    color: #786F67;
}

.odd {
    background-color: #F5F5F5;
}