<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  </head>

<style>
{{ .Stylesheet }}
</style>

<body>
    {{ range $i, $p := .Images }}
    <div class="entry">
        <div class="spacer-col"></div>
        <div class="date-col">&#9036; {{ $p.Taken.Format "2006-01-02" }}</div>
        <div class="hole-left-col"></div>
        <div class="neg-col"><a href="{{ $p.RelPath }}"><img src="{{ $p.ThumbPath }}"></a></div>
        <div class="hole-right-col"></div>
        <div class="unused-col"></div>

        <div class="meta-col {{ if Odd $i }}odd{{ end }}">
            <h3 class="title"><a href="{{ $p.RelPath }}">{{ $p.Title }}</a></h3>
            <p class="desc">{{ $p.Description }}</p>

            <p class="exif">{{ $p.Make }} {{ $p.Model }} &mdash; ƒ/{{ $p.Aperture }} @ {{ $p.FocalLength }}, {{ $p.Speed}}s, ISO {{ $p.ISO }}</p>
        </div>
    </div>
    {{ end }}
</body>

</html>